<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem 
            id="menu_ojt_root"
            name="OJT Management"
            web_icon="solvera_ojt_core,static/description/icon.png"
            sequence="1"/>
        
        <menuitem
            id="menu_ojt_batch"
            name="Batches"
            action="action_ojt_batch"
            parent="menu_ojt_root"
            sequence="1"/>

        <menuitem id="menu_ojt_participant"
            name="Participants"
            parent="menu_ojt_root"
            sequence="2"
            action="action_ojt_participant"/>

        <menuitem
            id="menu_ojt_event_link"
            name="Agenda (Events)"
            parent="menu_ojt_root"
            action="action_ojt_event_link"
            sequence="3"/>

        <menuitem
            id="ojt_assignment_menu"
            name="Assignments"
            parent="menu_ojt_root" 
            action="ojt_assignment_action"
            sequence="4"/>

        <menuitem
            id="ojt_assignment_submit_menu"
            name="Submissions"
            parent="menu_ojt_root" 
            action="ojt_assignment_submit_action"
            sequence="5"/>

        <menuitem
            id="menu_ojt_attendance"
            name="Attendance"
            action="action_ojt_attendance"
            parent="menu_ojt_root"
            sequence="6"/>

        <menuitem
            id="ojt_certificate_menu"
            name="Certificates"
            parent="menu_ojt_root"
            action="ojt_certificate_action"
            sequence="7"/>

        <menuitem
            id="menu_ojt_reporting_submenu"
            name="Reports"
            parent="menu_ojt_root"
            sequence="8"/>

        <!-- Sub menu reporting -->
        <menuitem
            id="ojt_reporting_dashboard_menu"
            name="Dashboard"
            parent="menu_ojt_reporting_submenu"
            action="ojt_reporting_dashboard_action"
            sequence="1"/>

    </data>
</odoo>